:root {
  --color-price: #4874b5;
  --color-btn: #1a51a2;
  --color-white: #fff;
  --color-danger: #c80036;
  --color-grey: #5c5c5e;
  --color-grey-light: #dcdcdc;
  --color-black: #000;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /*Khi click vao link thi trang web se cuon dan dan xuong*/
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* Css dung chung */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(1170 - 48px);
  /*Khi chieu dai cua trang web nho hon 1170 thi giup cho trang le trai va phai co kc 24px*/
  margin: 0 auto;
  /*can giua*/
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

/* header */
header {
  background: #3993f5;
  padding: 10px 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
}

.search-navbar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 0 10px;
  flex: 1;
  margin: 0 30px;
  max-width: 700px;
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 30px;
  flex: 1;
}

/* search history */
.search-input:focus~.header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 16px;
  width: calc(100% - 28px);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px #cdcdcd;
  display: none;
  overflow: hidden;
  z-index: 1;

}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 16px;
}

.header__search-history-item:hover {
  background-color: #ccc;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-black);
  line-height: 38px;
  display: block;
}

.icon-btn {
  background: none;
  border: none;
  color: #3993f5;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 0.8;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-actions a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-btn {
  background: #1565c0;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

/* danh mục */
.header-bottom {
     display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-bottom__left {
  display: flex;
  align-items: center;
}

.menu-category:hover {
  color: #1a51a2;
  cursor: pointer;
}

.header-bottom__left span {
  margin: 0 10px;
  padding: 5px;
}

.menu-category {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 6px 14px;
  background: #fff;
}

.main-menu {
  margin-left: 10px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.menu-list li {
  margin-left: 10px;
  padding: 5px;
}

.menu-list a {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  font-weight: 500;

}

/* banner */
main {
  background: #eaeffb;
}

.page__banner {
  padding-top: 20px;
}

.inner__banner {
  position: relative;
}

.banner__carousel {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img__silde {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 20px;
  height: inherit;
  transition: 0.5s;
}


.img__silde img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.navigation {}

.navigation button {
  display: inline-flex;
  padding: 8px;
  font-size: 2.6rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  color: var(--color-btn);
  border: transparent;
}

.navigation button:hover {
  opacity: 0.8;
}

.arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.arrow-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 10px;
}

.banner-indicator-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bfc9d1;
  transition: background 0.2s;
  cursor: pointer;
}

.banner-indicator-dot.active {
  background: #5c6a77;
}

/* Sản phẩm bán chạy */
.products {
  margin-top: 50px;

}

.section__heading {
  font-size: 2.5rem;
  text-align: center;
  color: #1565c0;
  font-weight: 600;

}

.pro_best {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 5px;
  position: relative;

}

.pro__wrapper {
  overflow: hidden;
  position: relative;
}

.pro__track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
  width: 100%;
}

.pro__list {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  /* Nếu muốn các sản phẩm hiển thị theo hàng ngang, có thể dùng flex-direction: row */
  flex-direction: row;
  ;
}

.product__item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-width: 180px;
}

.product__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;
}

.product__tag--new {
  background-color: #00b050;
}

.product__tag--discount {
  background-color: #ff0000;
}

.product__tag--promo {
  background-color: #ff8c00;
}

.img__product {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.content__product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

.title__product {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-black);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*Dùng để giới hạn dòng chạy nên vượt quá thì sẽ ra dấu 3 chấm*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  text-align: -webkit-center;
}

.product__price-old {
  text-align: left;
  font-size: 1rem;
  color: #666;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product__price-new {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e44d26;
  margin-top: auto;
  margin-bottom: 10px;
}

.status__product {
  background-color: #e0f7fa;
  color: #007bb6;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.status__product.selling {
  background-color: #e6ffe6;
  color: #28a745;
}


.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  width: calc(100% - 20px);
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button.disabled {
  opacity: 0;
  pointer-events: none;
}

.btn:hover {
  background-color: #0056b3;
}

/* footer */
.footer{
    background: #10375C;
    padding-top: 100px;
    font-family: "Open Sans", serif;
}
.footer__row {
    display:grid;
    column-gap: 78px;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr ;
}
.footer__desc {
    margin-top: 20px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height:1.75; /* 175% */
    max-width: 336px;
}
.footer__heading {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height:1.75; /* 175% */
}
.footer__list {
    margin-bottom: 28px;
}
.footer__item {
    margin-bottom: 10px;
}
.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    white-space: nowrap;/*Giong cho chu dai khong bi be xuong hang nua*/
}
.footer__link:hover {
    color: pink;
    text-decoration: underline;/*them gach chan duoi chu*/
}
.footer__social {
    display: flex;
    column-gap: 10px;

}
.footer__social-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFF;
     display: flex;
     justify-content: center;
      align-items: center;
      color: #2E80CE;
      transition: 0.25s;
      margin-bottom: 28px;
}
.footer__social-btn:hover{
  background: #2E80CE;
  color: #fff;
}

.footer-form {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}
.footer-form__input {
  width: 212px;
  height: 46px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  padding: 0 10px;
  color: #FFF;
}
.footer-form__input::placeholder{
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.footer-form__submit {
    min-width: 108px;
    --height: 46px;
    border-radius: 4px;
    font-size: 1.4rem;
}
.footer__copyright {
    border-top: 1px solid #406181;
    padding: 28px 0 42px;
}
.footer__copyright-text{
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

/* Responsive*/
/* Phần mega menu khi hover vào  */
    /* .menu-container {
      position: relative;
      display: inline-block;
    } */

    /* .menu-trigger {
      background-color: #007aff;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
    } */

    /* .mega-menu {
      display: none;

      position: absolute;
      top: 44px;
      left: 0;
      background: white;
      width: 800px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      z-index: 999;
      gap: 40px;
      border-radius: 8px;
    } */
    /* làm cầu nối  */
    /* .mega-menu::before{
    position: absolute;
    content: "";
    background: transparent;
    width: 10px;
    height: 10px;
    top: -6px;
    padding: 20px;
    } */

    /* .menu-container:hover .mega-menu {
      display: block;
    } */
/* 
    .menu-column {
      display: flex;
      gap: 30px;
    }

    .menu-column h4 {
      font-size: 18px;
      color: #007aff;
      margin-bottom: 10px;
    }

    .menu-column ul {
      display: flex;
      border-left: 2px solid var(--color-price);
      margin-left: 20px;
      padding-left: 10px;
      align-items: center;
    }

    .menu-column li {
      cursor: pointer;
      transition: background 0.2s;
    }

    .menu-column li:hover {
      background-color: #f0f0f0;
    } */
    /* danh sach san pham */
  .header {
    padding: 5px;
    background:#f7f7f7;
    margin-bottom: 10px;
  }
    /* home filter */
  .home-filter{
 display: flex;
 align-items: center;
 padding: 10px ;
}
.home-filter__label{
  font-size: 2rem;
  color:var(--color-black);
  margin-right: 16px;
  font-weight: 400;
}
.home-filter__btn{
    margin-right: 12px;
    width: 162px;
    background: var(--color-white);
    color: var(--color-btn);
    outline: 1px solid var(--color-btn);
    transition: color 0.3s ease;
}
.home-filter__btn:hover{
  color: var(--color-white);
  outline: none;
}
.bracket{
  display: none;
}
.bracket_active {
  display: block;
}

/* pro__list-item */
  .pro__list-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 15px -5px 0 -5px;
  }
  .pro__list-item article {
     margin-left: 5px;
    margin-right: 5px;
    width: 18%;
  }
  .pro__list-item article h4 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .home-product {
    padding-bottom: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* them vao gio hang */
  .header_cart-wrap:hover .header__cart-list{
    display: block;
}
.cart-badge{
  position: absolute;
    top: -13px;
    right: 10px;
    background: #ff6600;
    color: #fff;
    border-radius: 100%;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    border: 2px solid #fff;
    z-index: 2;
    display: inline-block;
}

.header__cart-list {
  position: absolute;
    right: 96px;
    background-color: white;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    top: calc(100% + 4px);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
    top: 42px;
        padding: 15px 10px;
    
}
.header_cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    
}
.header__cart-list::after{
       content: "";
    position: absolute;
    top: -17px;
    border-width: 13px 13px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;
    right: 1px;
}
.header__cart-no-cart-img{
    width: 40%;
    display: none;

}
.header__cart-list--no-cart {
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-icon {
    color: var(--white-color);
    font-size:3.6rem;

}
.header__cart-no-cart-msg {
    display: none;
    font-size: 1.6rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-heading {
    margin-top: 10px;
 margin-left: 10px;
 font-size: 1.5rem;
 color: #4874b5;
}
.header-cart-item{
    gap: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    align-items: center;
}
.header__cart-list-item {
    margin-top: 15px;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}
